/* ListaDeInvitados.css */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #333;
  font-size: 24px;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  h1 {
    font-size: 20px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

#invitadosForm button,
#btnEnviarInvitaciones {
  margin-top: 10px;
}

.buttons-container button {
  display: inline-block;
  margin-right: 10px;
}
